@media (max-width:1078px) {
    .img-resp img {
        padding-top: 135px;
    }
}
/*mobile*/
@media (max-width:992px) {
    .altercalendar {
        width: 84% !important;
    }

    .seccionHeader, .seccionFood, .seccionPerfil, .seccionRep, .seccionPro {
        padding: 1px;
    }

    .seccionHeader h3, .seccionFood h3, .seccionPerfil h3, .seccionRep h3, .seccionPro h3 {
        line-height: 28px

    }

    .img-resp img {
        padding-top: 0px !important;
        float: left;
    }

    .text_h2 {
        line-height: 39px;
        font-size: 27px;
    }

    .txt-resp {
        padding-bottom: 10px !important;
    }

    nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        line-height: 60px !important;
        vertical-align: middle;
        height: 64px !important;
    }

    .number {
        top: 12px !important;
        margin-left: 17px !important;
    }

    .divtop {
        padding-left: 0px !important;
    }

    .modal-footer i {
        line-height: 42px !important;
        height: 43px !important;
    }

    .paginador li {
        margin-left: 11px;
    }

    .search-blog form {
        float: left;
    }

    .datosp input[type=text], .datosp input[type=date] {
        width: 100%;
    }

    body {
        overflow-x: hidden;
    }

    .listaHeader {
        padding: 9px;
        font-size: 18px;
        line-height: 23px;
    }
    .list-food .card .card-content {
        padding-left: 11px !important;
    }
    .list-food {
        padding-left: 0px;
    }
    .icon-food {
        width: 11%;
    }
    .menu-left ul li{
        width: 100%;
    }
   
}
@media(max-width:991px){
    #nav-mobile{
            overflow-y: scroll;
    }
    .menudown{
            display: block !important;
    position: relative;
    width: 86%;
    float: none;
    }
}
/*Fin mobile*/
@media (max-width:900px) {
    .card .card-content .card-title {
        line-height: 30px !important;
    }

    .card .card-title {
        font-size: 18px !important;
    }

    .menu-left ul {
        padding: 0px;
    }
    
    .datosFood li {
        padding: 20px !important;
    }
}

@media(max-width:760px) {
    .seccionHeader h3, .reporte h3, seccionFood h3 {
        font-size: 30px;
    }

    .modal {
        width: 50% !important;
    }
}

@media (max-width:680px) {
    .txt-resp h3 {
        font-size: 30px !important;
    }
}

@media (max-width:600px) {
    .datosFood li{
    width: 100%;
    }
    .menu-left ul li {
        display: inline-block;
        text-align: center;
    }
    .downloadP{
        width: 100%;
    }
    .listaRecetas .collection-item{
        height: auto;
    }
    .txt-resp{
            padding: 0 20px !important;
    }
}

@media (max-width:500px) {
    .resultados li h6{
            width: 100%;
    height: auto;
    line-height: 21px;
    }
    .txt-resp h3 {
        font-size: 20px !important;
        line-height: 29px !important;
    }

    .titulo-index h1 {
        font-size: 51px !important;
        line-height: 53px;
    }

    .text_h2 {
        line-height: 30px;
        font-size: 18px;
        margin-bottom: 9%;
    }

    .altercalendar {
        font-size: 16px !important;
    }

    .seccionFood h3 {
        font-size: 25px;
    }

    .datosFood li {
        padding: 10px !important;
    }

        .datosFood li h6 {
            font-size: 16px;
        }

    .infogral li h6 {
        font-size: 15px;
    }

    .modal {
        width: 75% !important;
    }
}

@media(max-width:400px) {
    .resultados span input[type=text], .resultados span {
        display: none !important;
    }
}

@media(max-width:448px) {
        .reporte h3, .calendar, .seccionFood h3 {
        padding-left: 0px;
    }
}

@media(max-width:360px) {
    .seccionHeader h3 {
        font-size: 24px !important;
    }
}
